<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Форма пользователя</title>
</head>
<body>
<h1>Форма пользователя</h1>

<form th:action="@{/users}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">

    <label>Имя:</label>
    <input type="text" th:field="*{firstName}" required>
    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>

    <label>Фамилия:</label>
    <input type="text" th:field="*{lastName}">

    <label>Age:</label>
    <input type="text" th:field="*{age}">

    <button type="submit" th:text="${user.id} ? 'Сохранить' : 'Создать'"></button>
    <a th:href="@{/users}">Отмена</a>
</form>
</body>
</html>