<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>
</head>
<body>
<h1>Пользователи</h1>

<a th:href="@{/users/new}">Добавить пользователя</a>

<div th:if="${users.size() == 0}">Нет пользователей</div>

<div th:each="user : ${users}">
    <span th:text="${user.firstName}"></span>
    <span th:text="${user.lastName}"></span>
    <span th:text="${user.email}"></span>
    <a th:href="@{/users/{id}/edit(id=${user.id})}">Редактировать</a>
    <a th:href="@{/users/delete(id=${user.id})}">Удалить</a>
</div>

<div th:text="${flashMessage}" style="color: green"></div>
</body>
</html>